#titlebar {
  width: 100%;
  height: 45px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  background-color: rgba(17, 17, 17, 0.5);
  -webkit-transition: background-color 600ms;
  transition: background-color 600ms;
  color: #FFF;
  font-size: 20px;
  letter-spacing: 1.1px;
}

#titlebar.scrolled {
  background-color: rgba(17, 17, 17, 1);
  -webkit-transition: background-color 600ms;
  transition: background-color 600ms;
}

#titlebar.open, #titlebar.open nav {
  background-color: rgba(17, 17, 17, 1);
}

#titlebar.open nav {
  opacity: 1;
  -webkit-transition: opacity 400ms ease-out;
  transition: opacity 400ms ease-out;
  pointer-events: auto;
}

#titlebar a {
  font-weight: 400;
  -webkit-transition: color 600ms;
  transition: color 600ms;
}

#mobile-logo {
  position: absolute;
  float: left;
  margin-top: 4px;
  margin-left: 8px;
}

#mobile-nav {
  display: none;
  text-align: right;
  margin-top: 9px;
  margin-right: 20px;
  margin-bottom: 8px;
}

#categories ul li a.active {
  color: #F33446;
}

ul {
  list-style: none;
  text-decoration: none;
}

nav {
  display: block;
  float: right;

  text-align: right;
  background: none;
  position: absolute;
  bottom: 13px;
  right: 0px;
}

nav ul {
  padding-left: 0;
}

nav ul li {
  margin-right: 20px;
  margin-bottom: 0px;
  line-height: 1;
  float: left;
}

nav ul li a {
  text-transform: uppercase;
  color: #FFF;
}
