p {
  font-size: 20px;
  font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  color: #334;
  line-height: 1.4;
  margin: 0px;
}

.container {
    max-width: 900px !important;
}

.header {
  position: relative;
  overflow: hidden;
  line-height: 0px;
  box-sizing: content-box;
  max-height: 700px !important;
}

.header:before {
  right: 50%;
  border-right: 40px solid transparent;
  border-left: 1000px solid #fff;
}

.header:after {
  left: 50%;
  border-left: 40px solid transparent;
  border-right: 1000px solid #fff;
}

.header:before, .header:after {
  content: '';
  position: absolute;
  bottom: 0;
  width: 50%;
  border-bottom: 40px solid #fff;
  -moz-transform: rotate(0.000001deg);
  -webkit-transform: rotate(0.000001deg);
  -o-transform: rotate(0.000001deg);
  -ms-transform: rotate(0.000001deg);
  transform: rotate(0.000001deg);
}
.contact, .contact p {
    color: white;
    background-color: rgb(50, 64, 83);
    width: 100%;
}


#titlebar {
  width: 100%;
  height: 45px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  background-color: rgba(17, 17, 17, 0.65);
  -webkit-transition: background-color 600ms;
  transition: background-color 600ms;
  color: #FFF;
  font-size: 20px;
  letter-spacing: 1.1px;
}

#titlebar a {
  font-weight: 400;
  -webkit-transition: color 600ms;
  transition: color 600ms;
}

.coverr {
  position: relative;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 500px;
  width: auto;
  height: auto;
  margin-bottom: -100px;

  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(0%);
  transform: translateX(-50%) translateY(0%);
}

.circular {
  width: 300px;
  height: 300px;
  border-radius: 250px;
  -webkit-border-radius: 250px;
  -moz-border-radius: 250px;

  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
.profile {
  position: absolute;
  width: 500px;
  top: calc(50% - 200px);
  left: calc(50% - 250px);
  text-align: center;
}

.profile h1 {
  font-size: 60px;
  font-weight: 400;
  color: white;
}

.profile .subheading {
  font-size: 35px;
  color: #FFF;
}


#mobile-logo {
  position: absolute;
  float: left;
  margin-top: 4px;
  margin-left: 8px;
}

#mobile-nav {
  display: none;
  text-align: right;
  margin-top: 9px;
  margin-right: 20px;
  margin-bottom: 8px;
}

.heading {
  margin-top: 30px;
  text-align: center;
  text-transform: uppercase;
  font-size: 45px;
}

.white {
    color: white;
}

ul {
  list-style: none;
  text-decoration: none;
}

nav {
  display: block;
  float: right;

  text-align: right;
  background: none;
  position: absolute;
  bottom: 13px;
  right: 0px;
}

nav ul {
  padding-left: 0;
}

nav ul li {
  margin-right: 20px;
  margin-bottom: 0px;
  line-height: 1;
  float: left;
}

nav ul li a {
  text-transform: uppercase;
  color: #FFF;
}

@media print, screen and (max-width: 1200px) {

  .heading {
    margin-top: 0px;
  }

  .profile {
    width: 400px;
    top: calc(50% - 170px);
    left: calc(50% - 200px);
  }

  .profile h1 {
    font-size: 40px;
  }

  .profile .subheading {
    font-size: 25px;
  }

  .circular {
    width: 200px;
    height: 200px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
  }
}

/* Mobile */
@media only screen and (max-width: 767px){

  #mobile-nav {
    display: block;
  }

  nav {
    opacity: 0;
    position: relative;
    height: 110px;
    float: none;
    margin: 0;
    top: -2px;
    left: inherit;
    width: 100%;
    padding-top: 4px;
    background-color: rgba(17, 17, 17, 1);
    -webkit-transition: opacity 400ms ease-out;
    transition: opacity 400ms ease-out;
    pointer-events: none;
  }

  #titlebar.open, #titlebar.open nav {
    background-color: rgba(17, 17, 17, 1);
  }

  #titlebar.open nav {
    opacity: 1;
    -webkit-transition: opacity 400ms ease-out;
    transition: opacity 400ms ease-out;
    pointer-events: auto;
  }

  nav ul li{
    float: none;
    margin-bottom: 20px;
    text-align: right;
  }

  .heading {
    font-size: 38px;
  }

  .modal-content {
    top: 0px;
  }
}
